*{
    background-color: azure;
}
.note_style{
    width: 300px;
    height:300px;
    background-color:rgb(235, 244, 201);
    margin: 20px;
    border-radius: 6px;
}
#active_area{
    display: flex;
    flex-wrap: wrap;
    
}
.heading{
    background-color: aqua;
    height: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    border-radius: 6px;
}
.content{
    height:11rem;
     background-color: aquamarine;
     margin: 5px;
    border-radius: 6px;
}
.remove{
    background-color: rgb(150, 210, 190);
    border-radius: 6px;
    border: none;
    height: 30px;
    width:  80px;
    cursor: pointer;
}
.container{
display: flex;
justify-content: center;
}
.input{
    margin-bottom: 50px;
}
h1{
    display: flex;
    justify-content: center;
}
#note_name ,#note_content{
    width: 50vw;
    border: 1px solid black;
    float: left;
    background-color: white;
}
#note_content{
    height: 50px;
    display: flex;
    justify-content: right;
}
